
<div class="all container">
  <div style="width:100%" class="container" align="center">
    <br><br><br>
    
  
        <button class="  white waves-light" mdbRippleRadius><i class="fa fa-star"></i></button>
        <button class="  white waves-light" mdbRippleRadius><i class="fa fa-star"></i></button>
        <button class="  black waves-light" mdbRippleRadius><i class="fa fa-star"></i></button>

        <button class="  black waves-light" mdbRippleRadius><i class="fa fa-star"></i></button>
        <button class="  white waves-light" mdbRippleRadius><i class="fa fa-star"></i></button>
        <button class="  white waves-light" mdbRippleRadius><i class="fa fa-star"></i></button>
        <br>
    
<img style="height: 350px;" class="img-fluid" src="assets/suiveurCar.png">
   
  </div>
</div>
