.all{
    background-color :#eceff1;
    height:100vh;
 }
 

 .btn-rounded {
    border-radius: 10em;
}
.black{
    color:black ;
    border-radius : 50%
}

.white{
    color:white ;
    border-radius : 50%
}